{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.username) }}
<<<<<<< HEAD
    	{{ form_row(registrationForm.mail) }}
    	{{ form_row(registrationForm.amount) }}
=======
>>>>>>> 9971d44e1a675819d57bba9463ce23b903edc95b
        {{ form_row(registrationForm.plainPassword) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
