{% extends 'base.html.twig' %}

{% block body %}

    {% if message is defined %}
        <div class="alert alert-info">{{ message }}</div>
            <script>
                function ouvrir(){
                    let f = open('http://127.0.0.1:8082/game/run','Run the Game','width=400, height=400');
                    top.wait();
                    f.close();
                }
                ouvrir();
            </script>
    {% endif %}
    <div class="jumbotron">
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
        <div class="">

            {% for case in cases %}

            {% else %}
                <span colspan="5">no records found</span>
            {% endfor %}
        </div>
    </div>
{% endblock %}
