{% extends 'base.html.twig' %}

{% block body %}

    {% if message is defined %}
        <div class="alert alert-info">{{ message }}</div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script>
                $(function () {
                    $.get('http://127.0.0.1:8082/game/run', function (body) {
                        $('.alert-dismissible').html(body);
                    });
                });
            </script>
    {% endif %}
    <div class="jumbotron">
        {% if form is defined %}
        <div class="form-group">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
        {% else %}
            <span>{{ error }}</span>
        {% endif %}
    </div>
{% endblock %}
{% block footer %}
    <div class="alert alert-dismissible alert-warning"></div>
{% endblock %}
