{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <h1>{{ article.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ article.content }}</td>
            </tr>
            <tr>
                <th>Publié le</th>
                <td>{{ article.publishDate ? article.publishDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {% for comment in comments %}
           <div class="alert alert-dismissible alert-success sm"> {{ comment.content }} </div>
    {% else %}
        <span class="alert-secondary" colspan="5">no comment found</span>
    {% endfor %}
    <div class="jumbotron">
        {% if form is defined %}
            <div class="form-group">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
                {{ form_end(form) }}
            </div>
        {% else %}
            <span>{{ error }}</span>
        {% endif %}
    </div>
    <a href="{{ path('article_index') }}">Retour au Blog</a>


{% endblock %}
